doctype html
html(lang="en")
  head
    title Test
    link(rel='stylesheet', href='./styles/styles.css')
  body
  h1.text-amber-600 Fruit
  table
    each val in data
      tr
        td= val.name
        td= val.quantity